.toolbar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    align-items: center;
    
    color: #f0f0f3;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.12);
  }

  .toolbar img {
    margin: 2% 1% 0% 1%;
    width: 17%;
  }
  .toolbar span {
    color: rgba(9, 2, 41, 0.774);
    font-size: xx-large;
  }
  .toolbar nav {
    margin: 2% 0%;
    width: 100%;
  } 

  .items ul
{
   padding: 0.5%;
   margin: 0.25%;
   background-color: rgba(0, 0, 0, 0.704);

   box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.704);
   border-radius: 5px;
   background-color: rgba(255, 255, 255, 0.15);
   backdrop-filter: blur(5px);
}
.items li
{
   margin: 1.5%;
   padding: 3.5%;
   list-style-type: none;
   background-color: rgba(15, 16, 54, 0.842);
   border-radius: 5%;
   font-size: large;
   box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.952);   
}
.items ul :hover{
    background-color: rgba(20, 94, 155, 0.897);
    transition: all 0.9s;
}
.items a
{
   text-decoration: none;
   color: seashell;
}

#menu ul{
        position: fixed;
        left: -50%;
        width: 30%;
        height: 100vh;
        z-index: 100;
        transition: all 0.5s;
}

#mostrar-menu:checked ~ ul{
    left: 4.5%;
    z-index: 150;
}

.boton-menu {
    display: none;
}
.inicio{
    margin: 2% 0.5% 2% 2%;
    font-size: large;
    background-color:rgba(15, 16, 54, 0.842);
    border-radius: 5%;
    padding: 0.6% 0.5%;
}
.menu{
  margin: 2% 0%;
  font-size: large;
  background-color:rgba(15, 16, 54, 0.842);
  border-radius: 5%;
  padding: 0.6% 0.5%;
}


  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .toolbar img {
        margin: 0px;
        width: 30%;
      }
      .toolbar span {
        margin: 0 16px;
        width: 70%;
        font-size: x-large;
      }
      #menu ul{
        position: fixed;
        left: -150%;
        width: 100%;
        height: 100vh;
        z-index: 100;
        transition: all 0.5s;
      }
      #mostrar-menu:checked ~ ul{
        left: -1%;
        z-index: 150;
    }
}
   
  @media screen and (max-width: 375px) {
    .toolbar img {
        margin: 0px;
        width: 30%;
      }
      .toolbar span {
        margin: 0 16px;
        width: 40%;
        font-size:medium;
      }
      #menu ul{
        position: fixed;
        left: -150%;
        width: 100%;
        height: 100vh;
        z-index: 100;
        transition: all 0.5s;
      }
      #mostrar-menu:checked ~ ul{
        left: -1%;
        z-index: 150;
    }
  }

  @media screen and (max-width: 360px) {
    .toolbar img {
        margin: 0px;
        width: 30%;
      }
      .toolbar span {
        margin: 0 16px;
        width: 40%;
        font-size:small;
      }
      #menu ul{
        position: fixed;
        left: -150%;
        width: 100%;
        height: 100vh;
        z-index: 100;
        transition: all 0.5s;
      }
      #mostrar-menu:checked ~ ul{
        left: -1%;
        z-index: 150;
    }
  }