<div class="toolbar" role="banner">
    <div class="row">
      <img alt="Logo" src="https://empleo.gestionesyrepresentacioneschia.com/img/logo.png"/>
      <span>Seguridad y Salud en el Trabajo</span>
    </div>
  
    <div class="row">
          <nav class="items" id="menu">
            
            <label title="Inicio" class="inicio"><a href="../"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/><path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/></svg> </a></label>
            <input class="boton-menu" type="checkbox" id="mostrar-menu"><label title="Menu" class="menu" for="mostrar-menu" id="mostrar-menu"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16"><path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/></svg> </label>
              <ul>
                <li><a href="/flash">Flash gerencial</a></li>
                <li><a href="/ficha">Ficha técnica</a></li>
                <li><a href="/accidentalidad">Accidentalidad</a></li>
                <li><a href="/enfermedad">Enfermedad laboral</a></li>
                <li><a href="/hmg">Herramienta mejor gestión</a></li>
                <li><a href="/plan">Plan de trabajo anual</a></li>
                <li><a href="/recomendaciones">Recomendaciones médicas</a></li>
                <li><a href="/dme">Desordenes músculo esqueléticos</a></li>
              </ul>    
          </nav>
    </div>
  </div>