<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>


  <div>
    <video id="video_background" autoplay="autoplay" loop="loop" preload="auto" src="https://www.novonordisk.com.co/content/dam/nncorp/language-masters/es/front-page/Front-page-looping-hero-video.mp4"></video>
  </div>

  <!--
  <div class="aminado"> <app-nav></app-nav> </div> 
  <div> <router-outlet></router-outlet> </div>-->
  <div> <app-login></app-login> </div>
  
</body>
<footer></footer>
</html>