<div class="menu">
    <div class="menudiseno">
        <div class="menulink">Flash gerencial</div>
        <div class="menulink">Ficha técnica</div>
        <div class="menulink" routerLink="/accidentalidad">Accidentalidad</div>
    
        <div class="menulink">Enfermedad laboral</div>
        <div class="menulink">Herramienta mejor gestión</div>
        <div class="menulink">Plan de trabajo anual</div>
    
        <div class="menulink">Recomendaciones médicas</div>
        <div class="menulink"><a>Desordenes músculo esqueléticos</a></div>
        <div class="menulink"></div>
    </div>
</div>