<div> <app-nav></app-nav> </div> 

<div class="flor">
    <div class="oval-half-red">
        <div class="">Flash gerencial</div>
        <div class="">Ficha técnica</div>
        <div class="">Accidentalidad</div>
    </div>
    <div class="oval-half-red">
        <div class="">Enfermedad laboral</div>
        <div class="">Herramienta mejor gestión</div>
        <div class="">Plan de trabajo anual</div>
    </div>
    <div class="oval-half-red">
        <div class="">Recomendaciones médicas</div>
        <div class="">Desordenes músculo esqueléticos</div>
        <div class="">Desordenes músculo esqueléticos</div>
    </div>
</div>